<p>With over 25 years working on product and organizational innovation, Stuart’s many clients include large financial institutions, management consultancies, and government agencies as well as several startups in a variety of industries.</p>

<p>Stuart has conducted courses and workshops in Singapore, Philippines, Hong Kong, Japan, Malaysia, Indonesia, India, Korea, Thailand, Vietnam, Australia, USA and Canada.</p>

<p>Stuart crosses the boundaries of product development, organizational design and personal coaching. His background is in software engineering, chiefly applied in the financial services industry but his ongoing fascination with communities, neighborhoods, societies and each individual’s place within them has led him to become a certified coach, mentor and trainer.</p>

<p>He’s worked on Front Office Electronic Liquidity and Operational Risk products at two well known financial institutions before evolving into a full time coaching and mentoring role for 160 team members to collaborate and innovate for improved outcomes.</p>

