<p>The Odd-e Philippines advantage:</p>
<ul>
	<li>
		<em>Affiliation</em>. Unlike other providers in the Philippines, we are affiliated with the <a href="http://scrumalliance.org">Scrum Alliance&reg;</a> under the <a href="http://www.scrumalliance.org/pages/scrum_alliance_rep">Scrum Alliance&reg; Registered Education Provider (REP)</a> Program. We conduct <strong>officially endorsed</strong> and <strong>certified</strong> training courses.
	</li>
	<li>
		<em>The local perspective</em>. Our international exposure aside, we are Filipinos with around a couple of decades combined experience in the local setting. Our services are very much in tune with the Philippine context.
	</li>
	<li>
		<em>Network</em>. Our knowledge, skills, and experience are greatly enhanced through the support of our peers in the <a href="http://odd-e.com">Odd-e</a> network in Asia, as well as various Agile consulting companies and communities all over the world.
	</li>
	<li>
		<em>Practitioners</em>. We didn't learn all these things in a classroom. We've been practicing all these ourselves for years now. And still do. We provide and run our own courses leveraging on our collective experiences as IT professionals, software development leaders, and hardcore software craftsmen. Along with our frequent interaction with the global software development community.
	</li>
</ul>
