  <div class="tab-pane active" id="tab1">
    <p>
    This one day Introduction to Scrum course covers the Scrum framework including a full explanation of the roles, meetings, and artifacts and participants will leave with enough knowledge to start using Scrum. We will cover the five core concepts for competing on change, iterative development, the benefits of Scrum, the product backlog and what happens within a sprint. We also provide our recommended reference material and local community contacts. Participants will get to experience working in iterations and as part of a team.
    </p>
    <p>
    This course contributes one day towards the <a href="http://www.scrumalliance.org/CSD">Certified Scrum Developer&reg;</a> qualification. Please take a look at our highly regarded <a href="http://odd-e.com/courseDescription.php?id=csdJava">Certified Scrum Developer&reg; course</a> for further details.
    </p>			
    <p>
    This course is endorsed by the <a href="http://www.scrumalliance.org">Scrum Alliance&reg;</a> as part of the <a href="http://www.scrumalliance.org/pages/scrum_alliance_rep">Scrum Alliance&reg; Registered Education Provider (REP)</a> program. 
    </p>
  </div>
  <div class="tab-pane" id="tab2">
    <p>The course is a one-day workshop with the following agenda:</p>
    <ul><li>Introduction</li><li>5 Core Concepts of Competing on Change</li><li>Iterative Development</li><li>Overview of Scrum</li><li>Benefits of Scrum</li><li>Product Backlog</li><li>Inside the Sprint</li><li>Resources</li></ul>
  </div>
  <div class="tab-pane" id="tab3">
    <h3>About Mike Mallete</h3>
    {% include about_mike.html %}
    <h3>About Ealden Escañan</h3>
    <p>
    Ealden Escañan is an Agile practitioner with a strong background in software development. His work in Odd-e helps companies adopt Agile and bring value to their clients and stakeholders. He focuses on working with teams and enabling organizational agility, especially on a technical level, through continuous integration, test driven development, and dealing with technical debt.
    </p>
  </div>
