<section class="about">
<p>Be the first to know about the latest and upcoming trainings, services, and other goodies from Odd-e Philippines.</p>
<div id="mc_embed_signup">
<form action="http://odd-e.us3.list-manage1.com/subscribe/post?u=a245f8096d8efe06c5743c317&amp;id=09f78bc6c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_a245f8096d8efe06c5743c317_09f78bc6c6" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn button"></div>
</form>
</div>
</section>
