<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="start" href="http://odd-e.ph" title="Home" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
  </head>
  <body>
    <aside id="header_note">You are currently in the Odd-e Philippines microsite. <a href="http://odd-e.com">Click here</a> to go to the Odd-e main website.</aside>
    <header id="header">
      <div id="brand_logo">
        <a href="/">
          <img src="/img/odd-e.png" alt="Odd-e Philippines" width="75" height="75" />
        </a>
      </div>
      <div id="brand_title">
        <a href="/">Odd-e Philippines</a>
      </div>
      <div class="vertical_divider">&nbsp;</div>
      <div id="regular_nav">
        <nav>
          <ul>
            <li>
              <div class="dropdown">
                <a class="dropdown-toggle" id="about_menu" role="button" data-toggle="dropdown" data-target="#" href="/about">
                  About <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="about_menu">
                  <li><a href="/about">Odd-e</a></li>
                  <li><a href="/about/team.html">The Team</a></li>
                </ul>
              </div>
              <li>
                <div class="dropdown">
                  <a class="dropdown-toggle" id="courses_menu" role="button" data-toggle="dropdown" data-target="#" href="/courses">
                    Courses <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="courses_menu">
                    <li><a href="/courses">Offered Courses</a></li>
                    <li><a href="/courses/schedule.html">Course Schedule</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <a class="dropdown-toggle" id="services_menu" role="button" data-toggle="dropdown" data-target="#" href="/services">
                    Services <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="services_menu">
                    <li><a href="/services">Overview</a></li>
                    <li><a href="/services/agile-coaching.html">Agile Coaching</a></li>
                    <li><a href="/courses">Training</a></li>
                  </ul>
                </div>
                <li><a href="/contact-us">Contact Us</a></li>
          </ul>
        </nav>
      </div>
      <div id="mobile_nav">
        <button class="menu btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          menu
        </button>
        <nav class="nav-collapse collapse">
          <ul class="nav">
            <li>About</li>
            <li><a href="/about">Odd-e</a></li>
            <li><a href="/about/team.html">The Team</a></li>
            <li>Our Courses</li>
            <li><a href="/courses/">Offered Courses</a></li>
            <li><a href="/courses/schedule.html">Course Schedule</a></li>
            <li>Our Services</li>
            <li><a href="/services/">Overview of our Services</a></li>
            <li><a href="/services/agile-coaching.html">Agile Coaching</a></li>
            <li>&nbsp;</li>
            <li><a href="/contact-us">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    {{ content }}
    <footer>
      <p>
      Odd-e PH, Inc. | e-mail: <a href="mailto:info@odd-e.ph">info@odd-e.ph</a>
      </p>

      <p>
      Odd-e is a <a href="http://www.scrumalliance.org/community/profile/odde">Scrum Alliance&reg; Registered Education Provider</a>
      </p>
      <p><small>"Certified ScrumMaster", "Certified Scrum Product Owner," "Certified Scrum Developer," and "Cerified Scrum Coach" are registered trademarks of Scrum Alliance.</small></p>

      <p>
      <img src="/img/rep.png" height="100" width="100"/>
      </p>

      <p>
      Copyright &copy; 2013-2022 <a href="http://odd-e.ph">Odd-e PH, Inc.</a> and <a href="http://odd-e.com">Odd-e Pte. Ltd.</a> | <a href="/sitemap.html">Sitemap</a>
      </p>
    </footer>
    <script src="/js/jquery-1.10.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
