---
layout: default
title: Certified Scrum Product Owner Course by Odd-e Philippines
description: The Certified Scrum Product Owner course by Odd-e Philippines, the premiere Scrum course in the Philippines. 
---
<section>
	<header>
		<h1>Certified Scrum Product Owner&reg; Course</h1>
	</header>
</section>
<section class="about">
  <h2>Course Summary</h2>
	<p>
   The Certified Scrum Product Owner&reg; course covers the what, how, and especially the whys of the Scrum framework for product development -- from theory to practice. The course is structured around stories and discussions and is targetted to anyone who wants a deep understanding of Scrum from the Product Owner's perspective. Or anyone in an organization that will interact with Scrum Teams as a stakeholder or customer. 
	</p>	
	<p>
		For members of the Project Management Institute, you shall be credited PDUs after successful completion of the course.
	</p>
	<h2>Course Objective</h2>
	<p>
		By the end of the course, participants will be able to:</p>
	<ul>
		<li>Understand the basic concepts on which Scrum is built on.</li>
		<li>Explain the responsibilities of the three Scrum roles and how they relate.</li>
		<li>Understand the impact of Scrum to existing organizations.</li>
		<li>Learn the multiple important aspects to being a Product Owner.</li>
		<li>Understand the qualifications to become a successful Product Owner.</li>
		<li>Learn about visioning, and keeping a good Product Backlog.</li>
		<li>Grasp various approaches to prioritization and release management.</li>
	</ul>
	<h2>Target Audience</h2>
	<p>
		This course is suitable for anyone who would like to learn about Scrum in general and the Product Owner role in depth.	
	</p>
  <h2>Schedule</h2>
	{% if site.categories.certified-scrum-product-owner %}
	<table class="schedule wider_screen">
	  <thead>
			<tr>
			  <th>Date</th>
			  <th>Course</th>
			  <th>Location</th>
			  <th></th>
			</tr>
		</thead>
		<tbody>
      {% for post in site.categories.certified-scrum-product-owner reversed %}
	    <tr>
				<td>{{post.schedule}}</td>
				<td>{{post.course}}</td>
				<td>{{post.location}}</td>
				<td><a href="{{post.url}}">More Info</a></td>
			</tr>
	    {% endfor %} 
			</tr>
		</tbody>
	</table>
  <table class="schedule narrower_screen">
	  <thead>
			<tr>
			  <th>Date</th>
			  <th>Course</th>
			  <th>Location</th>
			</tr>
		</thead>
		<tbody>
      {% for post in site.categories.certified-scrum-product-owner reversed %}
	    <tr>
				<td>{{post.schedule}}</td>
				<td><a href="{{post.url}}">{{post.course}}</a></td>
				<td>{{post.location}}</td>
			</tr>
	    {% endfor %} 
			</tr>
		</tbody>
	</table>
  {% else %}
    {% include course-unavailable.html %}	
	{% endif %}
	{% include invite-other-courses.html %}
</section>
{% include mailing-list.html %}	
